{% extends 'admin/base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client : <strong>{{ user.fullname }}</strong></h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>BirthdayAt</th>
                <td>{{ user.birthdayAt ? user.birthdayAt|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Ibans</th>
                <ul>
                <td>{% for account in user.bankaccounts %}
                        <li>{{ account.iban }}</li>
                    {% endfor %}
                </td>
                </ul>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('admin_user') }}">Retour à la liste</a>

    <a class="btn btn-warning" href="{{ path('admin_user_edit', {'id': user.id}) }}">Editer</a>

    {{ include('admin/user/_delete_form.html.twig') }}
{% endblock %}
