{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Inscrivez vous sur notre banque !</h1>
        <div class="row">
            <div class="col-6">
                {{ form_start(form) }}

                        <div class="alert alert-light">

                            <h2 class="souligne"><i class="fa fa-info" aria-hidden="true"></i>&nbsp; Informations générales</h2>
                            <hr>
                            {{ form_row(form.firstname) }}
                            {{ form_row(form.lastname) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.birthdayAt) }}
                        </div>

                        <div class="alert alert-light">
                            <h2 class="souligne"><i class="fa fa-lock"></i>&nbsp; Mot de passe</h2>
                            <hr>
                            {{ form_row(form.password) }}
                            {{ form_row(form.passwordConfirm) }}
                        </div>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check"></i>
                            Confirmez l'inscription
                        </button>
                        </div>
                
                {{ form_end(form) }}
            </div>
            <div class="col"></div>
        </div>
        
    </div>

{% endblock %}