{% extends 'base.html.twig' %}

{% block title %}Bankaccount index{% endblock %}

{% block body %}
    <h1>Bankaccount index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Iban</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bankaccount in bankaccounts %}
            <tr>
                <td>{{ bankaccount.id }}</td>
                <td>{{ bankaccount.iban }}</td>
                <td>{{ bankaccount.amount }}</td>
                <td>
                    <a href="{{ path('bankaccount_show', {'id': bankaccount.id}) }}">show</a>
                    <a href="{{ path('bankaccount_edit', {'id': bankaccount.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bankaccount_new') }}">Create new</a>
{% endblock %}
