{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}{% endblock %}

{% block body %}
<style>
.ombre {
  width: 200px;
  padding: 35px 20px;
  line-height: 1.5em;
  color: #000;
  background-color: #ddd;
  background-image: linear-gradient(#E5E5E5, #CFCFCF);
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
.row {
    margin-bottom: 30px;
}
h2, h3, h4 {
    text-align: center;
    margin-bottom: 15px;
    //text-decoration: underline;
}
b {
    color: purple;
}
.a {
    margin-top: 15px;
    margin-bottom: 15px;
}
p {
    font-size: 1.5em;
}

</style>

    <div class="container">
    {% if user is same as(app.user) %}
        <div class="row">
            <div class="col">
                <h1>{{ user.fullName }}</h1> 
                <div class="mt-5">
                    <a href="{{ path('account_profile') }}" class="btn btn-primary">Modifier mes informations</a>
                    <a href="{{ path('account_password') }}" class="btn btn-primary">Modifier mon mot de passe</a>
                    {% if donator %}
                    <a href="{{ path('user_newBeneficiary') }}" class="btn btn-primary">Créer un bénéficiaire</a>
                    <a href="{{ path('user_list') }}" class="btn btn-primary">Liste de vos comptes</a>
                    <a href="{{ path('user_movement') }}" class="btn btn-primary">Vos dernières opérations</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% if is_granted("ROLE_ADMIN") %}
        <p>Veuillez vous identifier en saisissant "admin" dans l'URL<p>
        {% endif %}
        {% if donator %}
        <h2 class="souligne">Vos comptes banquaires</h2>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                {% if tabBenef %}
                <h3>Comptes et soldes de vos bénéficiaires : </h3>
                {% else %}
                <p>Vous n'avez pas encore de bénéficiaires</p>
                {% endif %}
                <ul>
                    {% for ben in tabBenef %}
                    <li><b>Iban : </b>{{ben.iban}}</li>
                    <li><b>Solde : </b>{{ben.amount}} €</li>
                    <li><b>Prénom : </b>{{ben.users.firstname}}</li>
                    <li><b>Nom : </b>{{ben.users.lastname}}</li>
                    <li><b>Email : </b>{{ben.users.email}}</li>
                    <hr>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-3"></div>
        </div>   
    </div>
    <div class="container">  
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
            <h3>Vos propres comptes et soldes :</h3>
                <ul>
                    {% for don in donator %}
                    <li><b>Compte : </b>{{don.iban}}</li>
                    <li><b>Solde : </b>{{don.amount}} €</li>
                    {% if beneficiary %}
                    <li><b>Donateur : </b>{{don.users.fullname}}</li>
                    {% endif %}
                    <hr>
                    {% endfor %} 
                </ul>
            </div>
            <div class="col-3">
                <a href="{{ path("user_list") }}" class="btn btn-info">Détail de vos comptes</a>
            </div>
        </div>
    </div>
        {% elseif beneficiary %}
    <div class="container">
        <div class="row">
            
            <div class="col-3"></div>
            <div class="col-6">
                <h1>Vos comptes</h1>
                <ul>
                    {% for user in beneficiary %}
                    <b>Iban : </b><li>{{user.iban}}</li>
                    <b>Solde : </b><li>{{user.amount}} €</li>
                    <b>Titulaire : </b><li>{{user.users.fullname}}</li>
                    <b>Donateur : </b><li>{{testator.fullname}}</li>
                    <b>Mail du donateur : </b><li>{{testator.email}}</li>
                    <hr>
                    {% endfor %}             
                </ul>
            </div>
            <div class="col-3"></div>
        </div>
        {% else %}
            <p>Vous n'avez pas encore de compte en banque.</p>
            <p>Votre conseiller est en train de vous le créer</p> 
        {% endif %}
    {% endif %}  
    </div>

{% endblock %}
