{% extends 'base.html.twig' %}

{% block title %}Comptes en banque index{% endblock %}

{% block body %}
<div class="container">
    <h1>Vos comptes en détail</h1>
    <table class="table table-striped table-bordered table-hover" style="border:2px solid black">
        <thead>
            <tr>
                <th>Iban</th>
                <th>Solde (€)</th>
                <th>Date de création</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for bankaccount in donator %}
            <tr>
                <td>{{ bankaccount.iban }}</td>
                <td>{{ bankaccount.amount }}</td>
                <td>{{ bankaccount.createdAt|date('d/m/Y') }}</td>
                <td>
                    {% if donator and tabBenef %}
                    <a class="btn btn-warning" href="{{ path('user_transfert', {'id': bankaccount.id}) }}">Transférer</a>
                    {% else %}
                    <a class="btn btn-warning disabled" href="{{ path('user_transfert', {'id': bankaccount.id}) }}">Transférer</a>
                    <p>Pas encore de bénéficiaires</p>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
