{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}{% endblock %}

{% block body %}

    <div class="container">
    <h1 class="mb-5">Vos dernières opérations</h1>
    <table class="table table-striped table-bordered table-hover" style="border:2px solid black">
        <thead>
            <tr>  
                <th>Votre compte débité</th>
                <th>Le compte crédité</th>
                <th>Destinataire</th>
                <th>Montant  (€)</th>
                <th>Date de l'opération</th>
            </tr>
        </thead>
        <tbody>
        {% for transactions in history %}
            <tr>              
                <td>{{ transactions.debitAccount }}</td>
                <td>{{ transactions.creditAccount }}</td>
                <td>{{ users[ loop.index0 ]}}</td>
                <td>{{ transactions.amount }}</td>
                <td>{{ transactions.editAt ? transactions.editAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'enregistrements trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}