{% extends 'base.html.twig' %}

{% block title %}Page de {{ user.fullName }}{% endblock %}

{% block body %}

<div class="container">
    <h1>Effectuer un virement à un de vos bénéficiaires</h1>
     {{ form_start(form) }}

    {{ form_row(form.amount) }}
    {{ form_row(form.iban) }}
    
    <button type="submit" class="btn btn-success">
        Enregistrer
    </button>
    
    {{ form_end(form) }}
    <a class="btn btn-info mt-2" href="{{ path('user_index') }}">Revenir sur votre page</a>
</div>


{% endblock %}